.header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 5px;
}


.header-block {
    display: flex;
}

.logo {
    width: 100px;
    height: 25px;
}

.header-btn{
    width: 24px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
}

.header-btn:hover{
    border-radius: 50%;
    background-color: rgba(231, 234, 237, 0.636);
}



