/* main{
    width: 79%;
    height: calc(100vh - 56px);
    background-color: aquamarine;
    display: inline-block;
} */

nav{
    width: 20%;
    height: calc(100vh - 56px);
    background-color:  darkblue;
    display: inline-block;
}
