/* main{
    width: 79%;
    height: calc(100vh - 56px);
    background-color: aquamarine;
    display: inline-block;
} */

nav{
    width: 20%;
    height: calc(100vh - 56px);
    display: inline-block;
}

body{
    background-color: #EFEFEF;
}



